@charset "UTF-8";

/* Reset */
* {
    color: #222;
    text-decoration: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

a:link {
    color: #333;
}
a:visited {
    color: #333;
}
a:hover {
    color: #444;
}
a:active {
    color: #444;
}

img {
    vertical-align: middle;
}

ul {
    list-style: none;
}
.flexContainer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

/* header */
#wrap {
    width: 1200px;
    margin: 0 auto;
}
#headerFrame {
    background-color: #0275bf;
}
#header {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
#headerLogo {
    height: 100px;
    line-height: 100px;
}
#gnb {
    flex: 1;
    height: 100px;
    line-height: 100px;
}
#mainMenu {
    justify-content: flex-end;
    padding-right: 10px;
}
#gnb a {
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background-color: #b3d6ec;
    font-size: 17px;
    font-weight: bold;
}
#slide {
    position: relative;
}
#slide span {
    display: inline-block;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#contents {
    height: 200px;
}
#contents>div:not(:first-child) {
    width: 400px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    flex: 1;
}
#contents img {
    width: 180px;
}
#bbs {
    padding: 10px;
}
#bbs div {
    padding: 10px;
}
#bbs > div > table {
    margin-top: 10px;
}
#bbs > div > table td {
    font-size: 14px;
    padding-bottom: 15px;
    margin-top: 15px;
}
#bbs > div > table td:first-child {
    padding-right: 40px;
}
#bbs > * {
    border: 1px solid #aaa;
}
#bbs > .tabBtn {
    font-size: 18px;
    padding: 2px 8px;
    position: relative;
    top: 1px;
}
#bbs > button:first-child {
    border-bottom-color: #eee;
    margin-left: 20px;
    left: 6px;
}
#bbs > button:nth-child(2) {
    border-color: #eee;
    border-bottom-color: #aaa;
}
#banner {

}
#shortcut {

}
#footerFrame{
    background-color: #0275bf;
}
#footer {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
#footerLogo {
    height: 100px;
    line-height: 100px;
}
#companyInfo {
    -webkit-flex: 1px;
    -moz-flex: 1px;
    -ms-flex: 1px;
    -o-flex: 1px;
    flex: 1px;
}
#companyInfo > * {
    height: 50px;
    text-align: center;
}
#footerLNB {
    position: relative;
}
#footerMainMenu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#footerMainMenu .footerMainLi {
    padding: 0 30px;
}
#copyright {
    line-height: 50px;
}
